body { 
    background: #252525 url(/images/background.png); 
    font-family: "Courier New", monospace;
    text-align: center;
}
h1, p {
    color: #B8B8B8;
}
h1 { 
    font-size: 60px; 
}
p { 
    font-size: 30px; 
}